# {{ ansible_managed }}

[Unit]
Description=Restore iptables rules
Before=network-pre.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/sbin/iptables-restore /etc/iptables-save

[Install]
WantedBy=basic.target
